<h2>Оформите Ваше предложение</h2>
<p>
<form action='addSuggest' on='submit'>
<div>Адрес: {{flexberry-textbox placeholder="" required=true value=model.suggestione.Address }}</div>
<div class="ember-view flexberry-textbox ui input fluid">Описание: 
    {{input name='Text'}}
</div>
<button  type='submit'>Сохранить</button>
</form>
</p>
